body {
  background-color: rgba(255, 251, 245, 1.0);
  font-family: 'Mulish', sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.smiley {
  color: rgba(0, 0, 0, 1.0)
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  color: rgba(119, 67, 219, 0.8);
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  color: rgba(119, 67, 219, 0.7);
}

a {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: rgba(119, 67, 219, 0.5);
  text-decoration: none;
}

.bio-width {
  width: 75%;
  margin: auto;
}

.container-position {
  width: 700px;
  margin: 30px auto;
  text-align: center;
}

.p-padding {
  padding: 15px;
}

.card-beige {
  background-color: rgba(247, 239, 229, 1.0);
  box-shadow: 2px, 2px, 5px, rgba(0, 0, 0, 1.0);
}

.card-padding {
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
}

.btn-margin {
  margin: 30px auto;
}

.btn-purple {
  background-color: rgba(119, 67, 219, 0.5);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 15px;
}

.btn-purple:hover {
  background-color: rgb(67, 219, 130);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1.0);
  transition-duration: 0.4s;
}

#img-size {
  height: 170px;
  width: 170px;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 50%;
}

.h2-margin {
  margin: 0 auto 15px;
}

.fa-brands {
  font-size: 35px;
}

.fa-brands:hover {
  color: rgb(67, 219, 130);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1.0);
  transition-duration: 0.4s;
}

.list-inline > li {
  display: inline-block;
  padding: 0 20px;
}

.list-inline {
  padding: 0;
  list-style: none;
}

@media (max-width: 960px) {
  .container {
    width: 600px;
  }

  .bio-width {
    margin: auto;
    width: 85%;
  }
}


@media (max-width: 720px) {
  .container {
    width: 400px;
  }

  .bio-width {
    margin: auto;
    width: 75%;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  .bio-width {
    margin: auto;
    width: 90%;
  }

  .fa-brands {
    margin-bottom: 20px;
  }
}
