/* meme button */
.btn-margin {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.btn-purple {
  display: inline-block;
  background-color: rgb(155, 106, 246);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 15px 200px;
  transition: 0.4s ease-in-out;
}

.btn-purple:hover {
  background-color: rgb(67, 219, 130);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1.0);
  transition: 0.4s ease-in-out;
}

/* go home button */
.button-arrow-position {
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 30px;
  border-radius: 50%;
  background-color: rgb(155, 106, 246);
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-in-out;
}

.button-arrow-position:hover {
  background-color: rgb(67, 219, 130);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1.0);
  transition: 0.4s ease-in-out;
}

.fa-solid {
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
}
